.pokemons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Cores dos tipos de Pokemon */

    .normal {
        background-color: #A8A77A;
    }

	.fire {
        background-color: #EE8130;
    }

	.water {
        background-color: #6390F0;
    }

	.electric {
        background-color: #F7D02C;
    }

	.grass {
        background-color: #7AC74C;
    }

	.ice {
        background-color: #96D9D6;
    }

	.fighting {
        background-color: #C22E28;
    }

	.poison {
        background-color: #A33EA1;
    }

	.ground {
        background-color: #E2BF65;
    }

	.flying {
        background-color: #A98FF3;
    }

	.psychic {
        background-color: #F95587;
    }

	.bug {
        background-color: #A6B91A;
    }

	.rock {
        background-color: #B6A136;
    }

	.ghost {
        background-color: #735797;
    }

	.dragon {
        background-color: #6F35FC;
    }

	.dark {
        background-color: #705746;
    }

	.steel {
        background-color: #B7B7CE;
    }

	.fairy {
        background-color: #D685AD;
    }





.pokemon {
    display: flex;
    flex-direction: column;
    margin: .5rem;
    padding: 1.2rem 1rem;
    border-radius: 1rem;
}

.pokemon .number {
    color: rgba(0, 0, 0, .3);
    text-align: right;
    font-size: .650rem;
}

.pokemon .name {
    margin-bottom: 0.25rem;
    color: rgb( 255, 247, 218);
    font-size: 1rem;
    text-transform: capitalize;
}

.pokemon .detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pokemon .detail .types {
    padding: 0;
    margin: 0;
    list-style: none;
}

.type {
    color: rgb( 255, 247, 218);
    margin: .125rem .125rem .3rem;
    padding: .25rem .5rem;
    font-size: .725rem;
    border-radius: 1rem;
    text-align: center;
    filter: brightness(1.1);
}

.pokemon .detail img {
    align-self: flex-end;
    max-width: 100%;
    height: 75px;
}

/* Media Queries */

@media screen and (min-width: 280px) {
    .pokemons {
        grid-template-columns: 1fr;
    }
}

@media screen and (min-width: 380px) {
    .pokemons {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 576px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 992px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}